.card__bx {
  --bg-clr: #282828;
  --txt-clr: #ffffff;
  --btn-txt-clr: #333333;
  --transition: all 0.5s;

  font-family: "Poppins", sans-serif;
  height: 250px;
  width: 300px;
  overflow: hidden;
  border-radius: 20px;
  border-top-left-radius: 70px;
  position: relative;
  overflow: hidden;
  background: var(--clr);
  transition: var(--transition);
}
.card__1 {
  --clr: #249eff;
}
.card__2 {
  --clr: #ff1f6b;
}
.card__3 {
  --clr: #98ff21;
}
.card__bx .card__data {
  position: absolute;
  inset: 10px;
  border-radius: 10px;
  background: var(--bg-clr);
  transition: var(--transition);
}
.card__bx .card__data .card__icon {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 50%;
  height: 140px;
  width: 140px;
  background: var(--clr);
  transition: var(--transition);
}
.card__bx .card__data .card__icon::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  height: 30px;
  width: 30px;
  border-top-left-radius: 30px;
  background: transparent;
  box-shadow: -5px -5px 0 5px var(--clr);
  transition: var(--transition);
}
.card__bx .card__data .card__icon::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 0;
  height: 30px;
  width: 30px;
  border-top-left-radius: 30px;
  background: transparent;
  box-shadow: -5px -5px 0 5px var(--clr);
  transition: var(--transition);
}
.card__bx .card__data .card__icon .card__icon-bx {
  position: absolute;
  inset: 10px;
  border-radius: 10px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background: var(--bg-clr);
  color: var(--clr);
  transition: var(--transition);
}
.card__bx:hover .card__data .card__icon .card__icon-bx {
  background: var(--clr);
  color: var(--txt-clr);
}
.card__bx .card__data .card__content {
  position: absolute;
  top: 130px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  color: var(--txt-clr);
  transition: var(--transition);
}
.card__bx .card__data .card__content h3 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: var(--transition);
}
.card__bx .card__data .card__content p {
  font-size: 14px;
  opacity: 0.75;
  transition: var(--transition);
}
.card__bx .card__data .card__content a {
  display: inline-flex;
  align-self: center;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid var(--clr);
  color: var(--btn-txt-clr);
  background: var(--clr);
  transition: var(--transition);
}
.card__bx .card__data .card__content a:hover {
  background: transparent;
  color: var(--clr);
}
.text-about {
  text-align: justify;
  margin-bottom: 10px;
  margin-top: -7px;
  height: 100% !important;
  line-height: 30px;
  transition: var(--transition);
}
.title-about {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: var(--transition);
}
.upper-about {
  display: flex;
  width: 100%;
  gap: 25px;
  align-items: start;
  height: 100% !important;
  transition: var(--transition);
}
.upper-about .left_side {
  width: 50%;
  transition: var(--transition);
}
.upper-about .left_side img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: var(--transition);
}
.upper-about .right_side {
  width: 50%;
  height: 100% !important;
  transition: var(--transition);
}
@media (max-width: 1175px) {
  .upper-about {
    display: flex;
    flex-direction: column;
    transition: var(--transition);
  }
  .upper-about .left_side {
    width: 100%;
    transition: var(--transition);
  }
  .upper-about .right_side {
    display: block !important;
    width: 100%;
    height: 100% !important;
    transition: var(--transition);
  }
}
